<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
          

            <div class="card">
                <div class="card-header">Add Team Member Form</div>
                <div class="card-body">
                    <form action="/add_member">
                        <input type="text" id="name" name="name" class="form-input" placeholder="Lumber 1 Team">
                        <input type="text" id="user_name" name="user_name" class="form-input" placeholder="john">
                        <button type="submit">CLick</button>

                    </form>
                </div>
            </div>

        
                
           

        </div> 

       
    </body>
</html>