<!DOCTYPE html>
<html>
<head>
    <title>Admin-home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a href="#" class="active">Home</a></li>
                <li><a href="/admin_projects">project</a></li>
                <li><a href="/admin_users">Users</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="login.html">Logout</a></li> -->
                <li><a href="Admin-home.html" class="active">Home</a></li>
                <li><a href="Admin-projects.html">project</a></li>
                <li><a href="Admin-users.html">Users</a></li>
                <li><a href="Admin-reports.html">Reports</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome Admin</h1>
                <p>Project Mangement Software</p>
            </div>
        </section>
        <section class="features">
            <div class="feature-box">
                <h3>Projects</h3>
                <img src="project.jpg" alt="Feature 1" class="feature-img">

            </div>
            <div class="feature-box">
                <h3>Users</h3>
                <img src="user.jpg" alt="Feature 2" class="feature-img">
            </div>
            <div class="feature-box">
                <h3>Reports</h3>
                <img src="report.jpg" alt="Feature 3" class="feature-img">
            </div>
        </section>
        
    </main>
    <footer>
        <p>&copy; 2023 DataBase Project. All rights reserved.</p>
    </footer>
</body>
</html>
