<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
                        <div class="card">
                <div class="card-header">
                    <div class="row">
                        
                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="create_board_2">
                            
                            <input type="hidden" id="p_id" name="p_id" value=<%= p_id %>>
                            <input type="hidden" id="s_id" name="s_id" value=<%= s_id %>>
                            <input name="name" id="name" placeholder="Board Ttile">

                            <button type="submit">click</button>
                        </form>
                    </div>
                </div>
            </div>

            

            

        </div> 

        
    </body>
</html>