<!DOCTYPE html>
<html>
<head>
    <title>Customer-home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="/customer-issue.html">Issues</a></li>
                <li><a href="/customer-comment.html">Comments</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome Customer</h1>
            </div>
        </section>
        <section class="features">
            <div class="feature-box">
                <h3>Issues Added</h3>
                <img src="issue.jpg" alt="Feature 1" class="feature-img">

            </div>
            <div class="feature-box">
                <h3>Comments Added</h3>
                <img src="comment.jpg" alt="Feature 2" class="feature-img">
            </div>
  
        </section>
        
    </main>
    <footer>
        <p>&copy; 2023 DataBase Project. All rights reserved.</p>
    </footer>
</body>
</html>
