<!DOCTYPE html>
<html>
<head>
    <title>Manager/TeamLead Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="manager-home.html">Home</a></li>
                <li><a href="manager-project.html" class="active">Project</a></li>
                <li><a href="manager-task.html">Tasks</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Projects</h1>
                <p>software manegemet system</p>
            </div>
        </section>
        <section class="features">
            <div class="feature-box">
                <h3>Projects</h3>
                <img src="project.jpg" alt="Feature 1" class="feature-img">

                <form action="/manager_projects">
                    <select id="project_options" name="project_options">
                        <option value="Default" selected disabled>Default</option>
                        <option value="1">Projects where Team lead</option>
                        <option value="2">Create New Project</option>
                    </select>
                <button type="submit">click</button>
            </form>

            </div>
        </section>

    </main>
    <footer>
        <p>&copy; 2023 Real-time Traffic Sign Detection for software project. All rights reserved.</p>
    </footer>
</body>
</html>
