<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
                        <div class="card">
                <div class="card-header">
                    <div class="row">
                        
                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Comment(s)</th>
                                <th>User</th>

                            </tr>
                            
                            <%if(data.length > 0)
                            {
                                data.forEach(function(d){
                            %>
                            <tr>
                                
                                
                                <td> <%= d.comment_text %> </td>
                                <td> <%= d.user_id %> </td>
                                
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

            <div style="margin-top: 30px";></div>

            <form action="create_comment">
                
                <input type="text" name="txt" id="txt" placeholder="Comment Text..." required>
                <input type="number" name="i_id" id="i_id" placeholder="1" required>
                
             
                <button type="submit">Click</button>
            </form>

        </div> 

        
    </body>
</html>