<!DOCTYPE html>
<html>
<head>
    <title>TeamMember-home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="/TeamMember-issue.html">Issues</a></li>
                <li><a href="/TeamMember-project.html">Projects</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome TeamMember</h1>
            </div>
        </section>
        <section class="features">
            <div class="feature-box">

                <h3>Issues</h3>
                <img src="issue.jpg" alt="Feature 1" class="feature-img">
            </div>
            <div class="feature-box">
                <h3>Projects</h3>
                <img src="project.jpg" alt="Feature 2" class="feature-img">
            </div>
        </section>
        
    </main>
    <footer>
        <p>&copy; 2023 DataBase Project. All rights reserved.</p>
    </footer>
</body>
</html>
